In [2]:
import pandas as pd

In [83]:
#create normalized data
#converted excel data to dict manually for 4 pages and created a .csv file each
int_schd_data = {
    'Month': ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'TOTAL'],
    'Departures': [5254, 4852, 5222, 5092, 5118, 4468, 4660, 4715, 4551, 43932],
    'Aircraft_Flown_Hours': [35361, 32746, 34832, 34365, 35967, 28926, 30865, 32356, 29228, 294646],
    'Aircraft_Flown_Kilometres': [25721, 23961, 25534, 24759, 24882, 19788, 21300, 21192, 20026, 207161],
    'Passengers_Carried': [1024098, 955197, 965068, 936587, 915535, 795343, 785494, 819812, 771730, 7968864],
    'Passenger_Kms_Performed': [5817199, 5449990, 5395312, 5203894, 5058920, 4026458, 4078194, 4292902, 3869305, 43192175],
    'Available_Seat_Kms': [6607838, 6166912, 6543927, 6334257, 6376435, 4909235, 5341429, 5298489, 5046302, 52624824],
    'Passenger_Load_Factor': [88.0, 88.4, 82.5, 82.2, 79.3, 82.0, 76.4, 81.0, 76.7, 82.1],
    'Cargo_Freight': [14279.2, 14776.4, 17447.8, 15327.9, 17441.9, 25305.1, 27517.4, 20798.5, 26720.2, 179614.4],
    'Cargo_Mail': [204.0, 156.3, 210.6, 204.4, 226.6, 154.8, 192.8, 187.3, 227.4, 1764.3],
    'Total_Cargo': [14483.2, 14932.7, 17658.5, 15532.3, 17668.5, 25459.9, 27710.2, 20985.8, 26947.6, 181378.7],
    'Passenger_Tonne_Kms': [628175.0, 576349.3, 562000.8, 547152.5, 533843.4, 416872.8, 423697.2, 447877.7, 403536.3, 4539505.0],
    'Freight_Tonne_Kms': [91188.9, 93644.9, 110564.2, 96370.4, 106311.1, 149659.3, 162858.9, 136114.3, 156772.6, 1103484.7],
    'Mail_Tonne_Kms': [1569.0, 1240.9, 1686.0, 1618.7, 1731.4, 962.2, 1418.9, 1312.2, 1523.0, 13062.4],
    'Total_Tonne_Kms': [720932.9, 671235.1, 674251.1, 645141.6, 641885.8, 567494.4, 587975.0, 585304.2, 561831.9, 5656052.2],
    'Available_Tonne_Kms': [794929.9, 736399.2, 771919.3, 746073.2, 748263.2, 932520.1, 602828.0, 615146.0, 588246.2, 6536325.2],
    'Weight_Load_Factor': [90.7, 91.2, 87.4, 86.5, 85.8, 60.9, 97.5, 95.2, 95.5, 86.5]
}
#create df
df = pd.DataFrame(int_schd_data)
df.to_csv('AI25_int_schd.csv', index=False)

print("CSV created successfully!")
print(df.head())

CSV created successfully!
  Month  Departures  Aircraft_Flown_Hours  Aircraft_Flown_Kilometres  \
0   JAN        5254                 35361                      25721
1   FEB        4852                 32746                      23961
2   MAR        5222                 34832                      25534
3   APR        5092                 34365                      24759
4   MAY        5118                 35967                      24882

   Passengers_Carried  Passenger_Kms_Performed  Available_Seat_Kms  \
0             1024098                  5817199             6607838
1              955197                  5449990             6166912
2              965068                  5395312             6543927
3              936587                  5203894             6334257
4              915535                  5058920             6376435

   Passenger_Load_Factor  Cargo_Freight  Cargo_Mail  Total_Cargo  \
0                   88.0        14279.2       204.0      14483.2
1                   88.4        14776.4       156.3      14932.7
2                   82.5        17447.8       210.6      17658.5
3                   82.2        15327.9       204.4      15532.3
4                   79.3        17441.9       226.6      17668.5

   Passenger_Tonne_Kms  Freight_Tonne_Kms  Mail_Tonne_Kms  Total_Tonne_Kms  \
0             628175.0            91188.9          1569.0         720932.9
1             576349.3            93644.9          1240.9         671235.1
2             562000.8           110564.2          1686.0         674251.1
3             547152.5            96370.4          1618.7         645141.6
4             533843.4           106311.1          1731.4         641885.8

   Available_Tonne_Kms  Weight_Load_Factor
0             794929.9                90.7
1             736399.2                91.2
2             771919.3                87.4
3             746073.2                86.5
4             748263.2                85.8

In [76]:
#adding total row to dom_schd missed out on earlier
#read the existing CSV
df = pd.read_csv('AI25_int_nonschd.csv')
										

#adding TOTAL row
# Add the new TOTAL row
total_row = {
    'Month': 'TOTAL',
    'Departures': 2,
    'Aircraft_Flown_Hours': 41,
    'Aircraft_Flown_Kilometres': 27,
    'Passengers_Carried': 265,
    'Passenger_Kms_Performed': 1988,
    'Available_Seat_Kms': 9326,
    'Passenger_Load_Factor': 21.3,
    'Cargo_Freight': 0.0,
    'Cargo_Mail': 0.0,
    'Total_Cargo': 0.0,
    'Passenger_Tonne_Kms': 157.2,
    'Freight_Tonne_Kms': 0.0,
    'Mail_Tonne_Kms': 0.0,
    'Total_Tonne_Kms': 157.2,
    'Available_Tonne_Kms': 729.6,
    'Weight_Load_Factor': 21.5
}

df = pd.concat([df, pd.DataFrame([total_row])], ignore_index=True)
df.to_csv('AI25_int_nonschd.csv', index=False)

print("TOTAL row appended to AI25_int_nonschd.csv")

TOTAL row appended to AI25_int_nonschd.csv

In [78]:
df = df.drop(df.index[-2])

In [82]:
df.tail(3)

,Month,Departures,Aircraft_Flown_Hours,Aircraft_Flown_Kilometres,Passengers_Carried,Passenger_Kms_Performed,Available_Seat_Kms,Passenger_Load_Factor,Cargo_Freight,Cargo_Mail,Total_Cargo,Passenger_Tonne_Kms,Freight_Tonne_Kms,Mail_Tonne_Kms,Total_Tonne_Kms,Available_Tonne_Kms,Weight_Load_Factor
7,AUG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SEP,1.0,23.0,14.0,131.0,1820.0,4778.0,38.1,0.0,0.0,0.0,144.1,0.0,0.0,144.1,374.9,38.4
10,TOTAL,2.0,41.0,27.0,265.0,1988.0,9326.0,21.3,0.0,0.0,0.0,157.2,0.0,0.0,157.2,729.6,21.5

In [81]:
df.to_csv('AI25_int_nonschd.csv', index=False)