In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./AI25_dom_schd.csv')

In [17]:
df = df.iloc[:-1]  # drop last row (Total)

In [18]:
#checking for consistent/inconsistent data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Month                      9 non-null      object
 1   Departures                 9 non-null      int64
 2   Aircraft_Flown_Hours       9 non-null      int64
 3   Aircraft_Flown_Kilometres  9 non-null      int64
 4   Passengers_Carried         9 non-null      int64
 5   Passenger_Kms_Performed    9 non-null      int64
 6   Available_Seat_Kms         9 non-null      int64
 7   Passenger_Load_Factor      9 non-null      float64
 8   Cargo_Freight              9 non-null      float64
 9   Cargo_Mail                 9 non-null      float64
 10  Total_Cargo                9 non-null      float64
 11  Passenger_Tonne_Kms        9 non-null      float64
 12  Freight_Tonne_Kms          9 non-null      float64
 13  Mail_Tonne_Kms             9 non-null      float64
 14  Total_Tonne_Kms            9 non-null      float64
 15  Available_Tonne_Kms        9 non-null      float64
 16  Weight_Load_Factor         9 non-null      float64
dtypes: float64(10), int64(6), object(1)
memory usage: 1.3+ KB

In [19]:
#basic stats
#we can see that std is greater than mean, thus right skewed. Let's find out
df.describe()

,Departures,Aircraft_Flown_Hours,Aircraft_Flown_Kilometres,Passengers_Carried,Passenger_Kms_Performed,Available_Seat_Kms,Passenger_Load_Factor,Cargo_Freight,Cargo_Mail,Total_Cargo,Passenger_Tonne_Kms,Freight_Tonne_Kms,Mail_Tonne_Kms,Total_Tonne_Kms,Available_Tonne_Kms,Weight_Load_Factor
count,9.000000,9.000000,9.000000,9.000000e+00,9.000000e+00,9.000000e+00,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000
mean,15611.555556,32956.444444,16594.444444,2.152244e+06,2.312912e+06,2.836663e+06,81.488889,17495.988889,784.800000,17544.133333,163419.155556,21544.255556,790.877778,229087.622222,264865.60000,86.533333
std,1041.288398,1657.603474,779.161586,1.920151e+05,1.710153e+05,1.473975e+05,2.896310,4365.839703,46.670574,4626.046478,80063.206803,6157.076786,62.758302,12379.231727,14352.92603,2.289105
min,14105.000000,29685.000000,15178.000000,1.870732e+06,1.992242e+06,2.537147e+06,78.400000,11879.200000,685.800000,12731.000000,24012.800000,15124.400000,688.700000,204976.200000,235655.70000,82.900000
25%,14747.000000,32260.000000,16175.000000,2.008221e+06,2.231137e+06,2.778443e+06,79.300000,13706.900000,777.500000,13380.100000,177669.300000,16009.600000,756.700000,222273.500000,259736.10000,85.000000
50%,15882.000000,33109.000000,16574.000000,2.098185e+06,2.301410e+06,2.871855e+06,81.300000,18644.800000,799.100000,15891.200000,199715.300000,19401.400000,806.600000,227884.000000,267992.80000,87.000000
75%,16212.000000,34314.000000,16983.000000,2.303093e+06,2.413939e+06,2.885313e+06,82.200000,20605.500000,807.000000,21412.500000,205463.900000,26500.300000,832.100000,237200.900000,270515.70000,87.700000
max,16899.000000,34771.000000,17697.000000,2.422796e+06,2.542896e+06,3.031555e+06,87.500000,24049.700000,851.800000,24850.200000,231178.000000,31361.800000,895.100000,247325.000000,286389.20000,89.600000

In [20]:
df.tail(10)

,Month,Departures,Aircraft_Flown_Hours,Aircraft_Flown_Kilometres,Passengers_Carried,Passenger_Kms_Performed,Available_Seat_Kms,Passenger_Load_Factor,Cargo_Freight,Cargo_Mail,Total_Cargo,Passenger_Tonne_Kms,Freight_Tonne_Kms,Mail_Tonne_Kms,Total_Tonne_Kms,Available_Tonne_Kms,Weight_Load_Factor
0,JAN,16899,34638,17697,2422796,2542896,3031555,83.9,12069.0,799.1,12868.2,231178.0,15339.8,807.2,247325.0,286389.2,86.4
1,FEB,16212,33109,16806,2406210,2519192,2879577,87.5,11879.2,851.8,12731.0,24790.1,15124.4,895.1,240809.6,268770.2,89.6
2,MAR,16855,34314,17552,2303093,2413939,3002344,80.4,13706.9,777.5,14484.4,24012.8,17335.5,756.7,232105.0,277373.9,83.7
3,APR,15882,33038,16574,2180617,2301410,2798618,82.2,18644.8,785.3,13380.1,205463.9,16009.6,721.5,222195.1,261443.1,85.0
4,MAY,16010,33439,16983,2093391,2250087,2871855,78.4,15661.1,810.1,15891.2,202040.0,19401.4,832.1,222273.5,267992.8,82.9
5,JUN,15545,32260,16299,2098185,2231137,2745113,81.3,21580.4,685.8,22266.3,199715.3,27480.0,688.7,227884.0,255913.7,89.1
6,JULY,14105,29685,15178,1870732,1992242,2537147,78.5,20605.5,807.0,21412.5,177669.3,26500.3,806.6,204976.2,235655.7,87.0
7,AUG,14249,34771,16175,1986947,2362940,2885313,81.9,19267.3,746.1,20013.3,211078.9,25345.5,776.6,237200.9,270515.7,87.7
8,SEP,14747,31354,16086,2008221,2202364,2778443,79.3,24049.7,800.5,24850.2,194824.1,31361.8,833.4,227019.3,259736.1,87.4

In [21]:
print("Skewness:")
print(df.skew(numeric_only=True))

Skewness:
Departures                  -0.318794
Aircraft_Flown_Hours        -0.921583
Aircraft_Flown_Kilometres   -0.267201
Passengers_Carried           0.214869
Passenger_Kms_Performed     -0.418473
Available_Seat_Kms          -0.787965
Passenger_Load_Factor        1.082783
Cargo_Freight               -0.020952
Cargo_Mail                  -1.097127
Total_Cargo                  0.404432
Passenger_Tonne_Kms         -1.484481
Freight_Tonne_Kms            0.395694
Mail_Tonne_Kms              -0.101610
Total_Tonne_Kms             -0.545063
Available_Tonne_Kms         -0.740098
Weight_Load_Factor          -0.351408
dtype: float64

In [8]:
'''Despite intense seasonality in domestic passengers, Air India holds load factor stable by tactically reducing capacity during low months. 
Weight load factors remain high, reflecting efficient use of belly cargo to cover revenue dips — confirming that cargo plays an important role in 
domestic network profitability.'''

'Despite intense seasonality in domestic passengers, Air India holds load factor stable by tactically reducing capacity during low months. \nWeight load factors remain high, reflecting efficient use of belly cargo to cover revenue dips — confirming that cargo plays an important role in \ndomestic network profitability.'

In [28]:
#calculating Coefficient of Variation to understand degree of variablity amongst passengers, ASK and Load Factor
#passengers:
'''
CV Value	Meaning
< 5%	Very stable
5–15%	Mild volatility
> 15%	Highly volatile
> 30%	Extremely volatile
'''

CV_Pass = (192015.1/2152244)*100
print('CV for passengers =: ', CV_Pass)
print('CV bw 5-15% indicates mild volatility')

CV for passengers =:  8.921623198856636
CV bw 5-15% indicates mild volatility

In [27]:
#available seat km:
CV_Pass = (147397.5/2836663)*100
print('CV for available seat KM =: ', CV_Pass)
print('CV being 5% indicates stability in ASK')

CV for available seat KM =:  5.196158302907325
CV being 5% indicates stability in ASK

In [29]:
#PAX Load Factor:
CV_Pass = (2.896310/81.488889)*100
print('CV for PAX =: ', CV_Pass)
print('CV being <5% indicates strong stability in PAX')

CV for PAX =:  3.554239155230108
CV being <5% indicates strong stability in PAX

In [30]:
df['MoM_Passenger_Change'] = df['Passengers_Carried'].pct_change() * 100
df['MoM_LF_Change'] = df['Passenger_Load_Factor'].pct_change() * 100
df['MoM_Cargo_Change'] = df['Total_Cargo'].pct_change() * 100

df[['Month','MoM_Passenger_Change','MoM_LF_Change','MoM_Cargo_Change']]

  Month  MoM_Passenger_Change  MoM_LF_Change  MoM_Cargo_Change
0   JAN                   NaN            NaN               NaN
1   FEB             -0.684581       4.290822         -1.066194
2   MAR             -4.285453      -8.114286         13.772681
3   APR             -5.317892       2.238806         -7.624065
4   MAY             -4.000061      -4.622871         18.767423
5   JUN              0.229006       3.698980         40.117172
6  JULY            -10.840464      -3.444034         -3.834494
7   AUG              6.212274       4.331210         -6.534501
8   SEP              1.070688      -3.174603         24.168428

In [ ]:
'''
Jan -> Feb: 
Passengers decreased sligtly, LF went up strongly.
This signifies that the airline reduced supply faster than demand dropping

Feb -> March:
Passengers declined in number while LF declined as well
This signifies that there must have been a capacity oversupply situation

March





'''